/* html {
     background-color: blue; 
     max-width: 992px; 
     margin: 0 auto; 
} */


.image-container {
    position: relative;
    height: 100%;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    object-fit: cover;
    mask-image: linear-gradient(white 80%, transparent);
}

.container-dos img {
    width: 100%;
    object-fit: cover;
}

.border-radius-20 {
    border-radius: 20px !important;
}

@media (max-width: 575.98px) {
    .margin {
      margin-bottom: 14px;
    }
    .width-100 {
        width: 100%;
        display: flex;
        justify-content: center; 
    }
    .doctors-movil {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
    .blogs-events {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;

    }
  }